<%= render 'partials/search', search: search_issues_path  %>
<%= render 'filter' %>
<% unless @issues.nil? %>
  <% if @issues.empty? %>
    <h3 class="text-center mt-4">No Issue Found</h3>
  <% else %>
    
    <h2>Search results</h2>
    <%= render 'list', issues: @issues, sort: search_issues_path %>
  <% end %>
<% end %>
<%= render 'partials/paginate', obj: @issues%>
