<div class="col-md-3">
  <%= form_for :search_category, url: search, method: :get do |form| %>
    <div class="input-group">
      <% previous_search = session[:query].presence %>
      <%= form.text_field :query, value: previous_search, class: "form-control form-control-sm " ,placeholder: 'Search' %>
      <div class="input-group-append">
        <%= form.button :submit, class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-search fa-sm"></i>
        <% end %>         
      </div>
    </div>
  <% end %>
</div>
  

