<%= render 'partials/search', search: search_users_path  %>
<%= render 'filter', filter: search_users_path %>
<% unless @users.nil? %>
  <% if @users.empty? %>
  <h3 class="text-center mt-4">No users found</h3>
  <% else %>
    <h2>Search results</h2>
    <%= render 'list', users: @users, search: search_users_path%>
  <% end %>
<% end %>
<%= render 'partials/paginate', obj: @users%>