<%= render 'partials/search', search: search_items_path  %>
<%= render 'filter' %>
<% unless @items.nil? %>
  <% if @items.empty? %>
    <h2>No Item Found</h2>
  <% else %>
    <h2>Search results</h2>
    <table class="table table-bordered">
      <%= render 'partials/items', sort: search_items_path %>
      <tbody>
      <%@items.each do |item| %>
        <% if !authenticate_user && item.user != current_user %>
          <p>No item found</p>
        <% else %>
        <%= render 'list', item: item %>
        <% end %>
      <%end%>
      </tbody>
    </table>
  <% end %>
<% end %>