/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//  @import 'bootstrap.css';

.navbar-coustom-bg {
  background-color: #343a40;
}
.navbar-toggler[aria-expanded="true"] + .navbar-brand {
  display: none;
}


.btn:first-child:active, .btn.btn.show{
  border-color: transparent !important;
}

.btn:first-child:active{
  border-color: transparent !important;
}
.custom-bg-color{
  background-color: #3b5998 !important;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
label.required:after { content: '*';color:red; }
.notification-dropdown {
  min-width: 300px;
}

td {
  min-width: 100px;
}
.description {
  width: 40%;
}
.user-info {
  background: #ffffffaf;
  box-sizing: border-box;
  padding: 1px 2px 1px 10px;
  min-width: 150px;
}
.user-info .user-name {
  font-weight: bold;
  margin-bottom: 1px;
  font-size: 14px
}

.user-info .user-type {
  font-size: small
}

.filter-form .form-group {
  margin-bottom: 15px;
}

.filter-form label {
  font-weight: bold;
}


.clear-filter-form .form-group {
  margin-bottom: 10px;
}
.notification-item {
  padding: 10px;
}

.notification-priority-high {
  background-color: #e90d0d;
  color: #FFFFFF;
}

.notification-priority-medium {
  background-color: #a83636;
  color: #FFFFFF;
}

.notification-priority-low {
  background-color: #FFFF00;
  color: #000000;
}
.modal-body {
  max-height: 400px;
  overflow-y: auto;
}
.sort-icon{
  width: 15px !important;
}

.working{
  background-color: #56d114;
  color: #ffffff;
  border-radius: 20px;
  width: 75%;
  margin: auto;
}
.not-working{
  background-color: #e90d0d;
  color: #FFFFFF;
  border-radius: 20px;
  width: 75%;
  margin: auto;
}
.active{
  background-color: #56d114;
  color: #ffffff;
  border-radius: 20px;
  width: 50%;
  margin: auto;
}
.not-active{
  background-color: #e90d0d;
  color: #FFFFFF;
  border-radius: 20px;
  width: 50%;
  margin: auto;
}
.high{
  background-color: #e90d0d;
  color: #FFFFFF;
  border-radius: 20px;
  width: 50%;
  margin: auto;
}
.low{
  background-color: #79c402;
  color: #FFFFFF;
  border-radius: 20px;
  width: 50%;
  margin: auto;
}
.medium{
  background-color: #a83636;
  color: #FFFFFF;
  border-radius: 20px;
  width: 50%;
  margin: auto;
}