<div class="container w-50">
<%= form_with model: brand do |form| %>
  <div class="form-group mb-2">
    <%= form.label :name %><br>
    <%= form.text_field :name, class: 'form-control' %>
    
  </div>
  <div>
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>
</div>
