<tr class="text-center" data-brands-id="<%= brand.id %>">
  <td class="brand-name"><%= brand.name %></td>
  <td class="d-flex gap-2">
    <%= link_to "Edit", edit_brand_path(brand), class: 'btn btn-primary' %>
    <%= link_to 'Delete', brand_path(brand), method: :delete, data: { confirm: 'Are you sure you want to delete this brand?' }, class: 'btn btn-danger' %>
  </td>
</tr>