  <tr class="table-info" data-brands-id="<%= brand.id %>">
    <td><%= brand.id %></td> 
    <td class="brand-name"><%= brand.name %></td>
    <td>
      <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editBrandModal">Edit</button>
      <%= button_to "Delete", brand_path(brand), method: :delete, class: 'btn btn-danger delete-button', remote: true, data: { entity_id:  brand.id, entity_type: "brands"  } %>
    </td>
  </tr>