<tr class="text-center" data-brands-id="<%= brand.id %>">
  <td class="brand-name"><%= brand.name %></td>
  <td class="d-flex gap-2">
    <%= edit_link(edit_brand_path(brand)) %>
    <%= delete_link(brand_path(brand)) %>
  </td>
</tr>