<tr class="table-info"> 
  <td><%= brand.id %></td> 
  <td><%= brand.name %></td>
  <td>
    <%= link_to "Edit",edit_brand_path(brand), class: 'btn btn-warning' %>
    <%= link_to "Delete",brand_path(brand), method: :delete, class: 'btn btn-danger' %>
  </td>
</tr>
