<h1>Brands</h1>

<ul>
  <%@brands.each do |brand| %>
    <li><%= brand.name %></li>
    <li><%= link_to "Edit", edit_brand_path(brand) %></li>
    <li><%= link_to "Delete", brand_path(brand), method: :delete %></li>
    <hr>
  <%end%>
</ul>

<%= link_to "Add Brand", new_brand_path %>
