<h1>Brands</h1>
<%= render 'partials/search', search_type: "Brands", search: search_brands_path%>
<%= link_to "Add Brand", new_brand_path, class: 'btn btn-lg text-light custom-bg-color   ' %>
<div class="col-lg-3 w-50 m-auto">
      <%= render 'list', brands: @brands %>
</div>