<div class="container mt-4 mb-4 d-flex justify-content-center align-items-center">
  <%= render 'partials/search', search_type: "Brands", search: search_brands_path %>
</div>
<% unless @brands.nil? %>
  <% if @brands.empty? %>
    <p class="text-center mt-4">No results found</p>
  <% else %>
    <span>Search results</span><hr/>
    <div class="col-lg-3 w-100 m-auto">
    <table class="table table-striped">
      <%= render 'partials/brands', sort: search_brands_path %>
      <tbody>
        <% @brands.each do |brand| %>
          <%= render 'list', brand: brand %>
        <% end %>
      </tbody>
    </table>
    </div>
  <% end %>
<% end %>
<%= render 'partials/paginate', obj: @brands %>
