<%= render 'partials/search', search: search_brands_path  %>
<% unless @brand.nil? %>
  <% if @brand.empty? %>
    <h2>No Brand Found</h2>
  <% else %>
    <h2>Search results</h2>
    <div class="col-lg-3 w-50 m-auto">
      <%= render 'list', brands: @brand %>
    </div>
  <% end %>
<% end %>