<%= render 'partials/search', search: search_categories_path  %>
<% unless @categories.nil? %>
  <% if @categories.empty? %>
    <h3 class="text-center mt-4">No category found</h3>
  <% else %>
    <h3>Search results</h3>
    <div>
    <table class="table table-bordered table-striped">
      <%= render 'partials/categories', sort: search_categories_path %>
      <tbody>
        <%@categories.each do |category| %>
          <%= render 'list', category: category %>
        <%end%>
      </tbody>
    </table>
    </div>
  <% end %>
<% end %>
<%= render 'partials/paginate', obj: @categories%>
